.Cards {
    margin-block-start: 8rem;

    @include desktop {
        padding-inline: min(5vh, 5rem);
    }

    @include mobile {
        margin-block-start: 2rem;
    }

    &-ShowMore {
        display: flex;
        justify-content: center;
        margin-block-start: 5rem;

        >button {
            padding-inline: 1rem;
            padding-block: 0.5rem;
            font-size: 1.25rem;
            background-color: var(--color-background-secondary-dark);
            color: var(--color-content-primary-dark);
            border: none;
            border-radius: 50vmin;
            transition: background-color 0.2s;

            @include mobile {
                font-size: 1rem;
            }

            @include theme-dark(&) {
                background-color: var(--color-background-secondary-light);
                color: var(--color-content-primary-light);
            }

            &:hover {
                background-color: var(--color-theme);
                color: var(--color-content-primary-dark);
            }
        }
    }

    &-NotFound {
        margin-block: 10rem;
        text-align: center;
        font-size: 2rem;
    }
}