.IndexPage {
    min-height: 100vh;

    >section {
        min-height: 100vh;
    }

    .accent {
        color: var(--color-theme);
        font-weight: 900;
    }

    &-Loading {
        position: fixed;
        inset: 0;
        background-color: rgb(15, 20, 25);
        color: var(--color-theme);
        display: grid;
        place-items: center;
        font-size: 5rem;
        font-weight: 100;
        transition: opacity 0.2s;
        z-index: 99;
        font-family: 'Caveat';

        &_exit-active {
            animation-name: cover-exit;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
    }

    .SectionAbout {
        >h1 {
            font-size: 3rem;
        }
    }

    .SectionContact {
        >h1 {
            font-size: 3rem;
        }
    }
}

@keyframes canvas-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes initial-main-animation {
    from {
        translate: 0 -5rem;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes initial-separator-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes cover-exit {
    from {
        clip-path: inset(0);
    }

    to {
        clip-path: inset(100% 0 0 0);
    }
}