$section-home-padding-block-start: 20rem;

.IndexPage {
    min-height: 100vh;
    overflow-x: hidden;

    &-Loading {
        position: fixed;
        inset: 0;
        background-color: red;
        display: grid;
        place-items: center;
        font-size: 5rem;
        transition: opacity 0.2s;
        z-index: 99;

        &_exit-active {
            opacity: 0;
        }
    }

    >section {
        padding-inline: var(--content-padding-inner);
    }

    .SectionHome {
        z-index: 1;
        position: relative;
        padding-block-start: $section-home-padding-block-start;
        height: 100vh;

        >h1 {
            font-size: 4.5rem;
            font-weight: 500;
            margin-block: 0;

            >span {
                position: relative;
                font-size: 6rem;
                font-weight: 700;
                letter-spacing: 0.4rem;

                &::after {
                    content: '';
                    position: absolute;
                    inset-block-end: 0;
                    display: block;
                    width: 100%;
                    border-block-end: 1px solid var(--color-border);
                }

                >span {
                    color: var(--color-theme);
                }
            }
        }

        >h2 {
            display: flex;
            flex-direction: column;
            margin-block-start: 1rem;
            // margin-inline-start: calc(-1 * var(--content-padding-inner) - 2rem);
            padding-block: 1rem;
            font-size: 4rem;
            color: var(--color-content-primary-dark);
            width: fit-content;
            background-color: var(--color-content-secondary);
            backdrop-filter: blur(1rem);
            // border-radius: 2rem;

            @include theme-dark(&) {
                // color: var(--color-content-primary-light);
            }

            >span {
                font-weight: 700;
                font-size: 8rem;
                color: transparent;
                background-image: url(../../media/gif/ocean.gif);
                background-clip: text;
                // align-self: flex-end;
                line-height: 7.5rem;

                text-stroke: 2px var(--color-theme);
                -webkit-text-stroke: 2px var(--color-theme);
            }
        }

        &-SplineWrapper {
            z-index: -1;
            position: absolute;
            inset-inline-end: 0;
            inset-block-start: 0;
            height: 100%;
            padding-inline-start: var(--content-padding-inner);
            padding-inline-end: var(--content-padding);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;

            >canvas {
                animation-name: CanvasFadeIn;
                animation-duration: 1s;
                // animation-delay: 1s;
                animation-fill-mode: forwards;
                opacity: 0;

                @include to-fhd {
                    scale: 0.8;
                }
            }
        }
    }
}

@keyframes CanvasFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}