.Cookies {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
    width: 100%;
    background-color: var(--color-background-primary-dark-transparent-less-transparent);
    backdrop-filter: blur(var(--blur-background));
    z-index: 98;
    transition: opacity 0.5s;

    &_in {
        opacity: 0;
    }

    &_in-active {
        opacity: 1;
        transition-delay: 0.2s;
    }

    &_in-done {
        opacity: 1;
    }

    &_exit {
        opacity: 1;
    }

    &_exit-active {
        opacity: 0;
    }

    &_exit-done {
        opacity: 0;
    }

    &-Header {
        display: flex;
        align-items: center;
        padding-block: 0.125rem;
        padding-inline: var(--content-padding);
        font-size: 1.25rem;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        color: var(--color-content-primary-dark);
        border-block-start: 1px solid rgba(255, 255, 255, 0.25);
        border-block-end: 1px solid rgba(255, 255, 255, 0.15);
    }

    &-Accept {
        background-color: var(--color-theme);
        color: var(--color-white);
        border: none;
        font-size: 1.25rem;
        font-weight: 500;
        padding-inline: 3rem;
        padding-block: 0.5rem;
        border-radius: 50vmin;
    }

    &-Body {
        display: flex;
        justify-content: space-between;
        padding-inline: var(--content-padding);
        padding-block: 0.6rem;

        &-Left {
            >p {
                margin-block: 0;
                padding-block: 0.5rem;
                font-size: 1.1rem;
                line-height: 1.5rem;
                color: var(--color-content-primary-dark);

                >span {
                    margin-block-start: 0.25rem;
                    display: block;
                    color: var(--color-content-primary-dark);
                    font-size: 1.1rem;
                }
            }

        }

        &-Right {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    &-CookiePolicy {
        width: fit-content;
        padding-inline: 0.5rem;
        border-radius: 50vmin;
        text-decoration: none;
        background-color: var(--color-content-tertiary-light);
        color: var(--color-white); // since background is colored, content-primary might not provide enough contrast
        font-weight: 500;
        letter-spacing: 0.2px;
        transition: background-color 0.2s, color 0.2s;

        @include mobile {
            padding-inline: 0.25rem;
        }

        &:hover {
            background-color: var(--color-content-primary-dark);
            color: var(--color-theme);
        }
    }
}