.Navigation_MOBILE {
    margin-inline-start: auto;

    .Navigation {
        &-Expander {
            background: none;
            border: none;

            .Icon-HamburgerMenu {
                width: 2.5rem;
                height: 2.5rem;

                // Account for the padding on the icon
                margin-inline-end: -0.5rem;
            }
        }

        &-Heading {
            margin-inline: 0;
            margin-block-start: 0;
            margin-block-end: 1rem;
            padding-block-end: 0.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;

            @include separator {
                inset-block-end: 0;
            }
        }

        &-Menu {
            position: fixed;
            display: flex;
            z-index: 1000;
            inset: 0;
            width: 100vw;
            height: 100dvh;

            &:before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                z-index: 998;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(var(--blur-background));
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        &-MenuContent {
            flex: 0.75;
            border-inline-end: 1px solid var(--color-border);
            padding: var(--content-padding);
            background-color: var(--color-background-primary);
            z-index: 999;
            overflow-y: auto;
        }

        &-Exit {
            display: flex;
            justify-content: center;
            flex: 0.25;
            padding-block-start: 2rem;
            z-index: 999;
            background: none;
            border: none;

            > .Icon {
                width: 2.5rem;
                height: 2.5rem;

                > svg > path {
                    fill: var(--color-white);
                }
            }
        }

        &-List {
            display: flex;
            flex-direction: column;
            margin-block-end: 1.5rem;
            padding-inline-start: 0;
        }

        &-ListItem {
            margin-inline: 0;
            list-style-type: none;
            font-size: 1.125rem;

            &:not(:first-child) {
                padding-block-start: 1rem;
            }

            a {
                display: block;
                padding-inline: 16px;
                padding-block: 8px;
                height: 100%;
                text-decoration: none;
                background-image: linear-gradient(
                    var(--color-theme),
                    var(--color-theme)
                );
                background-repeat: no-repeat;
                background-size: 100% 0;
                background-position: top;
                transition:
                    background-size 0.2s ease-out,
                    background-image 0.2s,
                    color 0.3s ease-out;
                color: var(--color-content-primary);
                border-radius: 2rem;
                position: relative;
                font-size: 1rem;
                user-select: none;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    inset-block-end: 0;
                    inset-inline: 0;
                    height: 100%;
                    background-image: linear-gradient(
                        var(--color-theme),
                        var(--color-theme)
                    );
                    background-size: 0 3px;
                    background-position: bottom left;
                    background-repeat: no-repeat;
                    transition: background-size 0.2s ease-out;
                }

                &:hover {
                    color: inherit;

                    &:active {
                        // note the difference between :active and .active
                        filter: brightness(1.25);
                        transform: scale(0.95);
                    }
                }

                &.active {
                    &::before {
                        background-size: 40% 3px;
                    }

                    &:hover {
                        background-size: 0;

                        &:active {
                            // selected & clicked on
                            background-size: 0;
                        }
                    }
                }

                &.previouslyactive {
                    &:not(:active)::before {
                        animation-name: DeselectActiveMobile;
                        animation-duration: 300ms;
                        background-size: 0;
                    }

                    &.active::before {
                        animation-name: DeselectActiveMobile;
                        animation-duration: 300ms;
                        animation-timing-function: ease;
                        animation-iteration-count: 2;
                        animation-direction: alternate;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }

        &-Settings {
            margin-block-start: 3rem;
        }

        &_enter {
            &::before {
                opacity: 0;
            }

            .Navigation {
                &-MenuContent {
                    translate: -100% 0;
                }

                &-Exit {
                    translate: 0 75vh;
                    opacity: 0;
                }
            }
        }

        &_enter-active {
            &::before {
                opacity: 1;
                transition: opacity 0.2s;
            }

            .Navigation {
                &-MenuContent {
                    translate: 0 0;
                    transition: translate 0.2s;
                    transition-timing-function: ease-out;
                }

                &-Exit {
                    translate: 0 0;
                    opacity: 1;
                    transition:
                        translate 0.2s,
                        opacity 0.2s;
                    transition-timing-function: ease-out;
                }
            }
        }

        &_exit {
            &::before {
                opacity: 1;
            }

            .Navigation {
                &-MenuContent {
                    translate: 0 0;
                }

                &-Exit {
                    translate: 0 0;
                    opacity: 1;
                }
            }
        }

        &_exit-active {
            &::before {
                opacity: 0;
                transition: opacity 0.2s;
            }

            .Navigation {
                &-MenuContent {
                    translate: -100% 0;
                    transition: translate 0.1s;
                    transition-timing-function: ease-out;
                }

                &-Exit {
                    opacity: 0;
                    translate: 0 1rem;
                    transition:
                        opacity 0.1s,
                        translate 0.1s;
                    transition-timing-function: ease-out;
                }
            }
        }
    }
}

@keyframes DeselectActiveMobile {
    0% {
        background-position: bottom left;
        background-size: 40% 3px;
    }

    25% {
        background-size: 60% 3px;
    }

    50% {
        background-position: bottom right;
    }

    100% {
        background-position: bottom right;
        background-size: 0 3px;
    }
}
