.Icon-Chevron {
    &_DIRECTION_LEFT>svg {
        rotate: -90deg;
    }

    &_DIRECTION_RIGHT>svg {
        rotate: 90deg;
    }

    &_DIRECTION_UP>svg {
        rotate: 0deg;
    }

    &_DIRECTION_DOWN>svg {
        rotate: 180deg;
    }

    >svg>path {
        fill: var(--color-content-primary);
    }
}