.About {
    padding-inline: var(--content-padding);
    padding-block-start: 10rem;
    height: 100vh;
    overflow-x: hidden;

    &-Header {
        position: relative;
        width: fit-content;

        >h1 {
            margin-block: 0;
            font-size: 3rem;
            width: fit-content;

            @include separator {
                width: 63%;
                inset-block-end: -1rem;
            }

            @include mobile {
                font-size: 2rem;
            }
        }

        >.Icon {
            position: absolute;
            inset-block-end: -0.75rem;
            inset-inline-end: -7rem;
            width: 10rem;
            height: auto;
            z-index: -1;


            >svg>path {
                fill: var(--color-icon);
            }
        }
    }

    &-Content {
        display: flex;
        justify-content: space-between;
        margin-block-start: 2.5rem;

        p {
            margin-block-start: 0;
            margin-block-end: 0;
            font-size: 1.5rem;
            width: 65%;
        }

        >figure {
            position: relative;

            // override scroll transition blur because it bothers backdrop-filter
            filter: none !important;

            >div:nth-of-type(1) {
                position: relative;
                width: 15rem;
                height: 15rem;
                border: 1px solid var(--color-border);
                backdrop-filter: blur(1rem);
                border-radius: 1.5rem;

                >img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1.5rem;
                }

                >.Icon {
                    width: 2.5rem;
                    height: 2.5rem;
                    position: absolute;
                    inset-block-start: -2rem;
                    inset-inline-end: 2rem;

                    >svg>path {
                        fill: var(--color-content-quaternary);
                    }
                }

                .location {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >div {
                        width: 1px;
                        height: 3rem;
                        background-color: var(--color-border);
                    }

                    >a {
                        position: relative;
                        display: flex;
                        align-items: center;

                        &:hover {
                            >span {
                                color: var(--color-theme);
                            }

                            >.Icon>svg>path {
                                fill: var(--color-theme);
                            }
                        }

                        >span {
                            position: absolute;
                            inset-inline-start: 3rem;
                            width: max-content;
                            font-size: 1.5rem;
                            color: var(--color-content-quaternary);
                            text-decoration: none;
                        }

                        >.Icon {
                            width: 2.8rem;
                            height: 2.8rem;

                            >svg>path {
                                fill: var(--color-content-quaternary);
                            }
                        }
                    }
                }
            }

            >div {

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    position: absolute;
                    width: 20rem;
                    height: 10rem;
                    z-index: -1;
                }

                &:nth-of-type(2) {
                    inset-block-start: -3rem;
                    inset-inline-start: -14rem;
                }

                &:nth-of-type(3) {
                    inset-block-start: 3rem;
                    inset-inline-start: 5.2rem;
                }
            }

            circle {
                fill: var(--color-content-secondary);
            }
        }
    }

    &-Technologies {
        padding-inline: 3rem;
        opacity: 0.3;

        >div {
            display: flex;
            justify-content: space-between;
            margin-block-start: 8rem;

            >ul {
                >li {
                    position: relative;
                    padding: 2rem;
                    width: fit-content;
                    list-style: none;

                    >span {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: var(--color-background-secondary);
                    }

                    >.Icon {
                        position: absolute;
                        width: 5rem;
                        height: 5rem;
                        inset-inline-start: -1.5rem;
                        inset-block-start: 2rem;
                        z-index: -1;

                        >svg>path {
                            fill: var(--color-icon);
                        }

                        &-WPF {
                            height: fit-content;
                            width: 6rem;
                            inset-inline-start: -3rem;
                        }

                        &-Django {
                            width: 8rem;
                            height: 8rem;
                            inset-block-start: 0;
                        }
                    }

                    &:nth-of-type(2n) {
                        >.Icon {
                            inset-inline-start: unset;
                            inset-inline-end: -1.5rem;

                            &-Django {
                                inset-inline-end: -5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}