$section-home-padding-block-start: 25rem;

.Landing {
    z-index: 1;
    position: relative;
    padding-inline-start: var(--content-padding);
    height: 500vh;
    display: flex;

    &-Content {
        padding-block-start: $section-home-padding-block-start;
        flex: 0.6;
        opacity: 0;

        >h1 {
            font-size: 4rem;
            font-weight: 600;
            margin-block: 0;

            >span {
                position: relative;
                font-size: 5rem;
                font-weight: 700;
                letter-spacing: 0.4rem;

                &::after {
                    content: '';
                    position: absolute;
                    inset-block-end: 0;
                    display: block;
                    width: 100%;
                    border-block-end: 1px solid var(--color-border);
                }

                >span {
                    color: var(--color-theme);
                }
            }
        }

        >h2 {
            margin-block-start: 1rem;
            margin-block-end: 0;
            font-weight: 400;
            font-size: 3rem;

            >span {
                font-weight: 600;
            }
        }

        >h3 {
            margin-block-start: 1rem;
            font-size: 2rem;
            font-weight: 400;

            >span {
                color: var(--color-content-tertiary);
            }
        }

        &_BEGIN_ANIMATION {
            animation-name: initial-main-animation;
            animation-duration: 0.75s;
            animation-delay: 0.75s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }


    &-Spline {
        z-index: -1;
        inset-inline-end: 0;
        inset-block-start: 0;
        height: 100vh;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        >canvas {
            pointer-events: none;

            @include to-fhd {
                // scale: 0.8;
            }
        }
    }
}

@keyframes initial-main-animation {
    from {
        translate: 0 -5rem;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}