.ProjectCard {
    position: relative;
    display: flex;
    margin-block-end: 4rem;
    border: 1px solid transparent;
    border-radius: 16px;
    transition: scale 0.25s, background-color 0.25s;

    @include mobile {
        flex-direction: column;
    }

    &:hover {
        scale: 1.01;
        z-index: 3;
        border: 1px solid var(--color-border-transparent);
        background-color: rgba(0, 0, 0, 0.05)
    }

    &:nth-child(2n) {
        @include desktop {
            flex-direction: row-reverse;
        }

        .ProjectCard {
            &-Details {
                @include desktop {
                    >h1 {
                        text-align: end;
                    }

                    >p {
                        margin-inline-start: -5rem;
                        margin-inline-end: 0;
                        text-align: end;
                        border-radius: 8px 0 0 8px;
                    }
                }
            }

            &-Anchors {
                @include desktop {
                    justify-content: flex-end;
                }
            }
        }
    }

    &:not(:last-child) {
        &::after {
            content: '';
            position: absolute;
            bottom: -3rem;
            inset-inline: 50%;
            height: 2rem;
            width: 1px;
            background-color: var(--color-border-transparent);
            pointer-events: none;
        }
    }

    &-Details {
        flex: 1.4;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 3;

        >h1 {
            margin-block: 0;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 500;

            @include mobile {
                font-size: 1.25rem;
                padding: 0.5em;
            }
        }

        >p {
            font-size: 1.25rem;
            margin-inline-end: -5rem;
            margin-block: 0;
            padding: 1em;
            background-color: var(--color-background-secondary-dark-transparent-2);
            color: var(--color-white);
            backdrop-filter: blur(var(--blur-background));
            border-radius:0 8px 8px 0;

            @include mobile {
                font-size: 1rem;
                min-height: auto;
                padding: 0.5em;
                margin-inline-end: 0;
                border-radius: 0;
            }
        }
    }

    &-TagsAndAnchors {
        display: flex;
    }

    &-Tags {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 1em;
        row-gap: 0.5em;
        padding: 1rem;

        @include mobile {
            column-gap: 0.5em;
        }

        >span {
            display: flex;
            align-items: center;
            padding-inline: 0.5rem;
            padding-block: 0.25rem;
            font-size: 1.15rem;
            border-radius: 6px;
            background-color: var(--color-content-secondary-light);
            color: var(--color-content-primary-dark);

            @include mobile {
                font-size: 1rem;
            }
        }
    }

    &-Anchors {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        margin-inline-start: auto;
        align-items: flex-start;

        .Icon {
            width: 3rem;
            height: 3rem;
        }

        > a {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:hover {
                color: var(--color-theme);
                text-decoration: underline;
            }

            >.Icon {
                padding: 0;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &-Thumbnail {
        position: relative;
        flex: 1;
        aspect-ratio: 1.46 / 1;
        background-color: var(--color-background-secondary);
        background-blend-mode: overlay;
        background-size: cover;
        background-position: 50%;
        transition: scale 0.2s, filter 0.2s;
        border: 1px solid var(--color-border-transparent);
        border-radius: 16px;
        overflow: hidden;
        filter: grayscale(0.5);

        @include mobile {
            border-block-start: 1px solid var(--color-border);
        }

        > a > img {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include mobile {
                border-radius: 0 0 0.5em 0.5em;
            }
        }

        > canvas {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &:hover {
            filter: grayscale(0);
        }
    }
}