.ContactPage {
    &-MainContent {
        padding-inline: var(--content-padding);
        padding-block-start: 1rem;
    }

    &-Header {
        margin-block: 0;
        font-size: 4rem;
    }

    &-TextContent {
        font-size: 1rem;
        margin-block-start: 0;

        @include desktop {
            max-width: 50%;
        }
    }
}