$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway-regular-webfont.woff2") format('woff2'),
        url("./fonts/raleway-regular-webfont.woff") format('woff');
    font-weight: $font-weight-regular;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway-medium-webfont.woff2") format('woff2'),
        url("./fonts/raleway-medium-webfont.woff") format('woff');
    font-weight: $font-weight-medium;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway-semibold-webfont.woff2") format('woff2'),
        url("./fonts/raleway-semibold-webfont.woff") format('woff');
    font-weight: $font-weight-semibold;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway-bold-webfont.woff2") format('woff2'),
        url("./fonts/raleway-bold-webfont.woff") format('woff');
    font-weight: $font-weight-bold;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway-black-webfont.woff2") format('woff2'),
        url("./fonts/raleway-black-webfont.woff") format('woff');
    font-weight: $font-weight-black;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url("./fonts/caveat-regular-webfont.woff2") format('woff2'),
        url("./fonts/caveat-regular-webfont.woff") format('woff');
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}
