@import 'variables';
@import 'font';

:root {
    --color-white: #fff;
    --color-black: #000;

    --color-background-primary-light: rgb(250, 250, 250);
    --color-background-primary-light-transparent: rgba(250, 250, 250, 0.75);
    --color-background-primary-dark: rgb(30, 30, 35);
    --color-background-primary-dark-transparent: rgba(30, 30, 35, 0.75);

    --color-background-primary-light-transparent-less-transparent: rgba(250, 250, 250, 0.9);
    --color-background-primary-dark-transparent-less-transparent: rgba(30, 30, 35, 0.9);

    --color-background-secondary-light: rgb(229, 232, 238);
    --color-background-secondary-light-transparent: rgba(229, 232, 238, 0.9);
    --color-background-secondary-light-transparent-2: rgba(229, 232, 238, 0.75);
    --color-background-secondary-dark: rgb(40, 42, 48);
    --color-background-secondary-dark-transparent: rgba(40, 42, 48, 0.9);
    --color-background-secondary-dark-transparent-2: rgba(40, 42, 48, 0.75);

    --color-content-primary-light: rgb(35, 35, 40);
    --color-content-primary-light-transparent: rgba(25, 30, 30, 0.9);
    --color-content-primary-light-transparent-2: rgba(25, 30, 30, 0.75);
    --color-content-primary-dark: rgb(240, 240, 240);
    --color-content-primary-dark-transparent: rgba(240, 240, 240, 0.9);
    --color-content-primary-dark-transparent-2: rgba(240, 240, 240, 0.75);

    --color-content-secondary-light: rgb(60, 65, 70);
    --color-content-secondary-light-transparent: rgba(60, 65, 70, 0.9);
    --color-content-secondary-dark: rgb(205, 210, 220);
    --color-content-secondary-dark-transparent: rgba(205, 210, 220, 0.9);

    --color-content-tertiary-light: rgb(102, 114, 129);
    --color-content-tertiary-dark: rgb(160, 166, 179);
    --color-content-quaternary-light: rgb(135, 149, 166);
    --color-content-quaternary-dark: rgb(135, 149, 166);

    --color-theme-initial: rgb(204, 18, 18);
    --color-theme: var(--color-theme-initial);

    --color-border-light: rgb(225, 225, 235);
    --color-border-light-transparent: rgba(225, 225, 235, 0.75);
    --color-border-dark: rgb(50, 50, 55);
    --color-border-dark-transparent: rgba(50, 50, 55, 0.75);

    --color-primary-content: rgb(25, 30, 30);
    --color-secondary-content: rgb(43, 49, 56);
    --color-primary-background: var(--color-white);
    --color-secondary-background: rgb(238, 241, 247);
    --color-primary-background-transparent: rgba(255, 255, 255, 0.75);

    --color-icon-light: #EEF1F7;
    --color-icon-dark: rgb(33, 34, 39);

    --color-neutral-background: rgb(27, 152, 168);
    --color-neutral-foreground: var(--color-white);
    --color-success-background: rgb(23, 185, 85);
    --color-success-foreground: var(--color-white);
    --color-warning-background: rgb(230, 195, 43);
    --color-warning-foreground: var(--color-black);
    --color-error-background: rgb(212, 46, 46);
    --color-error-foreground: var(--color-white);

    --content-padding: 5rem;
    --content-padding-inner: calc(var(--content-padding) * 1.5);
    --header-height: 3rem;
    --footer-height: 3rem;
    --blur-background: 16px;

    @include mobile {
        --content-padding: 1.5rem;
        --header-height: 2.5rem;
    }

    @include uhd {
        --content-padding: min(35rem, 15vw);
    }

    @include qhd {
        --content-padding: min(25rem, 15vw);
    }

    @include fhd {
        --content-padding: min(17.5rem, 10vw);
    }
}

.theme-dark {
    // background
    --color-background-primary: var(--color-background-primary-dark);
    --color-background-primary-transparent: var(--color-background-primary-dark-transparent);
    --color-background-secondary: var(--color-background-secondary-dark);
    --color-background-secondary-transparent: var(--color-background-secondary-dark-transparent);
    --color-background-secondary-transparent-2: var(--color-background-secondary-dark-transparent-2);

    // content
    --color-content-primary: var(--color-content-primary-dark);
    --color-content-primary-transparent: var(--color-content-primary-dark-transparent);
    --color-content-secondary: var(--color-content-secondary-dark);
    --color-content-secondary-transparent: var(--color-content-secondary-dark-transparent);
    --color-content-tertiary: var(--color-content-tertiary-dark);
    --color-content-quaternary: var(--color-content-quaternary-dark);

    --color-icon: var(--color-icon-dark);

    --color-background-primary-transparent-less-transparent: var(--color-background-primary-dark-transparent-less-transparent);

    --color-header-background: var(--color-background-primary-dark-transparent);

    // border
    --color-border: var(--color-border-dark);
    --color-border-transparent: var(--color-border-dark-transparent);
    --color-border-inverted: var(--color-border-light);
    --color-border-inverted-transparent: var(--color-border-light-transparent);
}

.theme-light {
    // background
    --color-background-primary: var(--color-background-primary-light);
    --color-background-primary-transparent: var(--color-background-primary-light-transparent);
    --color-background-secondary: var(--color-background-secondary-light);
    --color-background-secondary-transparent: var(--color-background-secondary-light-transparent);
    --color-background-secondary-transparent-2: var(--color-background-secondary-light-transparent-2);

    // content
    --color-content-primary: var(--color-content-primary-light);
    --color-content-primary-transparent: var(--color-content-primary-light-transparent);
    --color-content-secondary: var(--color-content-secondary-light);
    --color-content-secondary-transparent: var(--color-content-secondary-light-transparent);
    --color-content-tertiary: var(--color-content-tertiary-light);
    --color-content-quaternary: var(--color-content-quaternary-light);

    --color-icon: var(--color-icon-light);

    --color-background-primary-transparent-less-transparent: var(--color-background-primary-light-transparent-less-transparent);

    --color-header-background: var(--color-background-primary-light-transparent);

    // border
    --color-border: var(--color-border-light);
    --color-border-transparent: var(--color-border-light-transparent);
    --color-border-inverted: var(--color-border-dark);
    --color-border-inverted-transparent: var(--color-border-dark-transparent);
}

*,
::before,
::after {
    box-sizing: border-box;
    color: var(--color-content-primary);
    transition: color 0.2s, background-color 0.2s, font-size 0.1s;
    font-family: $raleway;
}

::selection {
    background-color: var(--color-theme);
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-background-primary);

    &.disable-scrolling {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

main {
    &.Page {
        &.cross-page_enter-active {
            overflow-x: hidden;

            >div {
                @include not-prefers-reduced-motion {
                    animation-name: in;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}

@keyframes in {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0 0;
    }
}

button {
    cursor: pointer;

    &:hover {
        >.Icon>svg>path {
            fill: var(--color-theme);
        }
    }
}

.animate-on-scroll {
    @include not-prefers-reduced-motion {
        &:not(.animation-finished) {
            opacity: 0;
            translate: -5rem 0;
            scale: 0.9;

            transition: 
                opacity 0.15s,
                translate 0.15s,
                scale 0.15s,
                filter 0.15s;
            transition-delay: 0.35s;
        }

        &.begin-animation {
            opacity: 1;
            translate: 0 0;
            scale: 1;
        }
    }
}

.debug {
    section {
        outline: 1px solid green !important;
    }

    div {
        outline: 1px solid yellow !important;
    }

    h1,
    h2,
    h3,
    p {
        outline: 1px solid blue !important;
    }
}