.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    padding-inline: var(--content-padding);
    z-index: 99;
    height: var(--header-height);

    @include mobile {
        backdrop-filter: none;
    }

    /*
    On mobile devices, remove the backdrop filter, as Chrome has a bug which renders
    nested elements with backdrop-filter unusable. Instead, we create a pseudo-element
    and put the backdrop on that, allowing us to keep using backdrop filter down the line.
    */
    &::before {
        content: "";
        position: fixed;
        inset-block-start: 0;
        inset-inline: 0;
        z-index: -1;
        backdrop-filter: blur(var(--blur-background));
        background-color: var(--color-header-background);
        border-block-end: 1px solid var(--color-border-transparent);

        @include desktop {
            height: var(--header-height);
        }

        @include mobile {
            backdrop-filter: blur(5px);
            position: absolute;
            inset-block-start: 0;
            inset-inline: 0;
            height: 100%;
        }
    }

    &-Branding {
        margin-block: auto;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Caveat';
        text-decoration: none;

        @include mobile {
            font-size: 1.5rem;
        }
    }
}