.Slider {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &-Input {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
        background-color: transparent;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            width: 100%;
            height: 0.3rem;
            background-color: var(--color-border);
            transition: background-color 0.2s;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 0.5rem;
            background-color: var(--color-content-secondary);
            margin-block-start: -0.3rem;
            transition: background-color 0.2s;

            &:hover {
                filter: brightness(1.2);
            }
        }

        &::-moz-range-track {
            width: 100%;
            height: 0.3rem;
            background-color: var(--color-border);
            transition: background-color 0.2s;
        }

        &::-moz-range-thumb {
            height: 1rem;
            width: 1rem;
            margin-block-start: -0.3rem;
            border-radius: 1rem;
            background-color: var(--color-content-secondary);
            transition: background-color 0.2s;
        }

        &:focus::-webkit-slider-runnable-track {
            background-color: var(--color-theme);
        }

        &:focus::-moz-range-track {
            background-color: var(--color-theme);
        }
    }

    &-Label {
        font-size: 1rem;
        margin-inline-start: 1rem;
        cursor: pointer;
        user-select: none;
    }
}