.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--content-padding);
    background-color: var(--color-background-secondary-dark);
    border-block-start: 1px solid var(--color-border);
    height: var(--footer-height);

    span,
    a {
        font-size: 1rem;
        color: var(--color-content-secondary-dark);
    }

    span {
        flex: 1;
    }

    &-By:not(.\9) {
        // trick to increase specificity
        text-align: start;

        @include mobile {
            flex: 2;
        }

        >span {
            margin-inline-start: 0.5rem;
        }
    }

    &-Date {
        text-align: end;
    }

    &-Navigation {
        display: flex;
        justify-content: center;
        flex: 1;
        gap: 1.5rem;

        >a {
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: var(--color-theme);
            }
        }
    }
}