.Landing {
    z-index: 1;
    position: relative;
    padding-inline-start: var(--content-padding);
    min-height: 100dvh;
    display: flex;

    @include mobile {
        flex-direction: column;
        padding-inline: var(--content-padding);
    }

    &-Content {
        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-block-end: var(--header-height);
            width: 40%;
            min-width: 20rem;
        }

        @include mobile {
            padding-block-start: 5rem;
        }

        > h1 {
            font-size: 4rem;
            font-weight: 600;
            margin-block: 0;

            @include mobile {
                font-size: 2.5rem;
            }

            > span {
                position: relative;
                font-size: 5rem;
                font-weight: 700;

                @include desktop {
                    letter-spacing: 0.4rem;
                }

                @include mobile {
                    font-size: 3.5rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset-block-end: 0;
                    display: block;
                    width: 100%;
                    border-block-end: 1px solid var(--color-border);
                }

                > span {
                    color: var(--color-theme);
                }
            }
        }

        > h2 {
            margin-block-start: 2rem;
            margin-block-end: 0;
            font-weight: 400;
            font-size: 3rem;

            @include mobile {
                font-size: 2.25rem;
            }

            > span {
                font-weight: 600;
                color: inherit;
            }
        }

        > p {
            margin-block-start: 1rem;
            font-size: 1.75rem;
            font-weight: 400;
            color: var(--color-content-tertiary);

            @include mobile {
                font-size: 1.25rem;
            }
        }
    }

    &-Spline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        inset-inline-end: 0;
        inset-block-start: 0;
        margin-block: auto; // center vertically
        overflow: visible;
        z-index: -1;

        @include desktop {
            width: 60%;
            height: 100dvh;
        }

        @include from-fhd {
            padding-inline-end: 5rem;
        }

        > div {
            display: flex;
            overflow: hidden;

            > canvas {
                pointer-events: none;
                margin: auto;

                // animate in from jsx
                opacity: 0;
                transition: opacity 0.5s;

                @include mobile {
                    width: 95% !important;
                    height: auto !important;
                }
            }
        }

        > img {
            height: 100%;
            width: 100%;
            object-fit: contain;

            @include desktop {
                transition: none;
            }
        }

        &_IS_BACKUP {
            padding: 10%;
        }

        &_IS_LOADING {
            opacity: 0;
        }

        .Fallback {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;

            & > img {
                max-width: calc(100% - 10rem);
                height: auto;
            }

            & > .Icon {
                width: 3rem;
                height: 3rem;
                position: absolute;
                inset: auto;
                animation: rotate;
                animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;

                @keyframes rotate {
                    from {
                        rotate: 0deg;
                    }
                    to {
                        rotate: 360deg;
                    }
                }
            }
        }
    }

    .landing-animation:not(.animation-done) {
        opacity: 0;
        translate: -10rem 0;
        scale: 0.9;
        filter: blur(8px);

        animation-name: landing-animation;
        animation-timing-function: ease-out;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 100 + ($i * 150ms);
            }
        }
    }

    .highlight {
        color: inherit;
        font-weight: 600;
    }
}

@keyframes landing-animation {
    from {
        opacity: 0;
        translate: -10rem 0;
        scale: 0.9;
        filter: blur(8px);
    }
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
        filter: blur(0);
    }
}
