.Contact {
    position: relative;
    padding-inline: var(--content-padding);
    height: 60vh;

    &-Header {
        >h1 {
            margin-block: 0;
            font-size: 3rem;

            @include mobile {
                font-size: 2rem;
            }
        }

        >p {
            margin-block-start: 0.5rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            &::before {
                content: '';
                border-block-start: 1px solid var(--color-border);
                width: 12rem;
            }

            span {
                font-size: 1.25rem;
                color: var(--color-content-tertiary);
            }
        }
    }

    &-Icons {
        position: absolute;
        inset-block-start: 0;
        inset-inline: var(--content-padding);
        display: flex;
        z-index: -1;

        >.Icon {
            width: 12rem;
            height: 12rem;

            >svg>path {
                fill: var(--color-icon);
            }

            &:nth-of-type(1) {
                margin-block-start: -2rem;
                margin-inline-start: -5rem;
            }

            &:nth-of-type(2) {
                margin-block-start: 6rem;
                margin-inline-start: 4rem;
                scale: -1 1; // flips horizontally
            }
        }
    }

    &-Content {
        display: grid;
        place-items: center;
        margin-block-start: 15vh;

        span {
            padding-inline: 1rem;
            color: var(--color-content-tertiary);
            display: flex;
            align-items: center;

            @include mobile {
                padding: 0.5rem;
            }
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            >div {
                display: flex;
                align-items: center;

                >button {
                    border: none;
                    background-color: transparent;
                    padding: 0;

                    @include desktop {
                        margin-inline-start: 1.5rem;
                    }

                    >.Icon {
                        width: 2.5rem;
                        height: 2.5rem;

                        >svg>path {
                            fill: var(--color-content-tertiary);
                        }
                    }
                }
            }
        }

        &-Email {
            border: 1px solid var(--color-border-transparent);
            border-radius: 50vmin;

            >a {
                display: flex;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                text-align: center;
                border: 1px solid var(--color-theme);
                border-radius: 50vmin;
                font-size: 1.5rem;
                padding-block: 0.5rem;
                padding-inline: 2rem;
                background-color: transparent;
                text-decoration: none;
                transition: background-color 0.2s, color 0.2s;

                @include mobile {
                    font-size: 1rem;
                    padding-inline: 0.5rem;
                    padding-block: 0.25rem;
                }

                &:hover {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                }
            }

            >span {
                font-size: 1.5rem;

                @include mobile {
                    font-size: 1rem;
                    padding-block: 0;
                }
            }
        }

        &-LinkedIn,
        &-GitHub {
            >span {
                font-size: 1rem;

                @include mobile {
                    padding-inline-start: 0;
                }
            }

            >a {
                .Icon {
                    width: 3.5rem;
                    height: 3.5rem;

                    @include mobile {
                        width: 2.5rem;
                        height: 2.5rem;
                    }

                    >svg>path {
                        fill: var(--color-content-tertiary);
                    }
                }
            }
        }

        a:has(.Icon),
        button:has(.Icon) {
            &:hover {
                svg>path {
                    fill: var(--color-theme);
                }
            }
        }
    }
}